<h1>Login</h1>
<div class="container">
    <div class="alert alert-warning" *ngIf='!checkLogin()'  (click)=handleLogin(username,password) >
        {{errorMessage}}

    </div>


    <div>User Name: <input 
        type="text"
        class="text"
        name="username"
        [(ngModel)]="username"
        >
        Password: <input
        type="password"
        name="password"
        [(ngModel)]="password"
        >
        
        <!-- <button class="btn btn-success" (click)=onClick()>Login</button> -->
        &nbsp;
        <button class="glyphicon glyphicon-user" (click)=handleLogin(username,password)>Login</button>

    </div>
    <!-- <div>
        <button class = "btn btn-success" (click)=register()>Register</button>
    </div> -->
</div>
