.input {
    position: relative;
    font-size: 1.5em;
    background: linear-gradient(21deg, #061016, #061016);
    padding: 3px;
    display: inline-block;
    border-radius: 9999em;
  }
  .input *:not(span) {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 0.325em;
    z-index: 1;
  }
  .input *:not(span):focus + span {
    opacity: 1;
    transform: scale(1);
  }
  .input span {
    transform: scale(0.993, 0.94);
    transition: transform 0.5s, opacity 0.25s;
    opacity: 0;
    position: absolute;
    z-index: 0;
    margin: 4px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: inherit;
    pointer-events: none;
    box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #696e6d, -3px 3px 30px #e2e6e9;
  }
  
  html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.5;
    font-size: 1em;
  }
  
  body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  html, body {
    height: 100%;
  }
  
  input {
    font-family: inherit;
    line-height: inherit;
    color: #2e3750;
    min-width: 50em;
  }
  
  ::-moz-placeholder {
    color: #cbd0d5;
  }
  
  :-ms-input-placeholder {
    color: #cbd0d5;
  }
  
  ::placeholder {
    color: #cbd0d5;
  }
  
  html::after {
    content: "";
    background: linear-gradient(21deg, #2010ff, #1b7cea);
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  * {
    box-sizing: border-radius;
    font-family: "Rubik", sans-serif;
  }
  
  .container {
    border: 1px solid black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: grid;
    place-items: center;

  }
  
  .items {
    width: 50em;

  }
  
  .items-head p {
    padding: 5px 20px;
    margin: 10px;
    color: #0B5AA2;
    font-weight: bold;
    font-size: 20px;
  }
  
  .items-head hr {
    width: 20%;
    margin: 0px 30px;
    border: 1px solid #0B5AA2;
  }
  
  .items-body {
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-gap: 10px;
  }
  
  .items-body-content {
    padding: 10px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 10fr 1fr;
    font-size: 13px;
    grid-gap: 10px;
    border: 1px solid transparent;
    cursor: pointer;
  }
  
  .items-body-content:hover {
    border-radius: 15px;
    border: 1px solid #0B5AA2;
  }
  
  .items-body-content i {
    align-self: center;
    font-size: 15px;
    color: #0B5AA2;
    font-weight: bold;
    animation: icon 1.5s infinite forwards;
  }
  
  @keyframes icon {
    0%, 100% {
      transform: translate(0px);
    }
    50% {
      transform: translate(3px);
    }
  }