<input type = "text" [(ngModel)] = "name">
<button (click)="newItem()" class="btn btn-success">Submit</button>
<br>


  


  <div class="container">
   
    <table class="table">

      <thead>
        <h4>Stocks List</h4>

        

       <tr>
            <th>Ticker</th>
            <th>Closing Price</th>
            <th>Average Price</th>
            <th>Opening Price</th>
            <th>Highest Price</th>
            <th>Lowest Price</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr
       
          *ngFor="let item of items"
        >
       <td>{{item.results[0].T}}</td>
       <td>${{item.results[0].c}}</td>
       <td>${{item.results[0].vw}}</td>
        <td>${{item.results[0].o}}</td>
        <td>${{item.results[0].h}}</td>
        <td>${{item.results[0].l}}</td>
        <td><button (click) = DeleteItem(item)>Delete</button></td>
        </tr> 
    

    </tbody>
    </table>
</div> 
